{{!-- views/books/create.hbs --}}

<form action="createbook" method="POST">
    <h2>Título</h2>
    <input type="string" name="title" />

    <h2>Descripción</h2>
    <input type="string" name="description" />

    <h2>Autor</h2>
    <input type="string" name="author" />

    <h2>Rating</h2>
    <input type="number" name="rating" />

    
    <button type="submit">
        Crear libro
    </button>

</form>